.time-container{
    border: 2px solid violet;
    border-radius: 20px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    max-width: 100%;
    padding: 10px;
}
.bookmark-container{
    background-color: azure;
    border-radius: 20px;
    max-width: 100%;
    padding: 10px;
}

.bookmark-container h3{
    text-align: center;
}